/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

html, body {
  background-color: rgb(31, 31, 31);
  color: white;
    height: 100%;
    width: 100%;
}
.nav{
  background-color: blueviolet;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.links{
  display: flex;
  gap: 10px;
  color: white;
}
.links a{
  text-decoration: none;
  color:white;
}
.links a:active{
  transform: scale(1.02);
  color: rgb(0, 0, 0);
  text-decoration:underline;
}